@model ZeonTicaret.WebUI.App_Classes.Sepet
@using ZeonTicaret.WebUI.App_Classes

<script src="~/Content/Zeon/js/jquery-1.10.0.min.js"></script>
<script>
    $(document).ready(function () {

        $(".urunSil").click(function () {
            var uid = $(this).val();

            $.ajax({
                type: "get",
                url: "/Home/SepetUrunAdetDusur",
                data: { id: uid },
                success: function () {
                    $.ajax({
                        type: "get",
                        url: "/Home/Sepet",
                        success: function VeriGetir(veri) {
                            $(".cart-all").html('');
                            $(".cart-all").html(veri);
                        },
                        error: function () {

                        }
                    })
                },
                error: function () { alert("Hata") }

            });
        });

    });
</script>



<div class="cart-all " >
    <i class="icon-19" title="19"></i>
    @if (Model != null)
    {
        @Model.ToplamTutar.ToString("C")
    }
    else
    {
        <span>0 ₺</span>

    }


    <div class="inside-cart">
        <p>
            @if (Model != null)
            {
                <span>Sepette Toplam @Model.Urunler.Sum(x => x.Adet) Adet Ürün Bulunmaktadır</span>
            }
            else
            {
                <span>Sepette Toplam 0 Adet Ürün Bulunmaktadır</span>
            }

        </p>
        <ul>
            @if (Model != null)
            {
                foreach (SepetItem item in Model.Urunler)
                {
                    <li>

                        <div class="inside-cart-image">
                            @if (item.Urun.Resims != null)
                            {
                                <img src="@item.Urun.Resims.FirstOrDefault(x=>x.Varsayilan==true).OrtaYol" alt="" />
                            }

                        </div>

                        <button class="urunSil" type="button" value="@item.Urun.Id">x</button>

                        <a href="/Home/UrunDetay/@item.Urun.Adi">@item.Urun.Adi</a>


                        <p>Tutar: @item.Tutar.ToString("C2")</p>
                        <p>Adet: @item.Adet.ToString()</p>
                    </li>
                }
                <a href="/Home/SatisTamamla/">
                    <button style=" background-color: #4CAF50; /* Green */ border: none; color: white; padding:15px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;width:270px; height:50px"> Alışverişi Tamamla</button>
                </a>

            }


        </ul>
    </div>
</div>
